@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 75px;
  background-color: #EFCEAD;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 34px;
  color: #1f1715;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

h2 {
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 20px;
  font-weight: 500;
  color: #1f1715;
  font-family: 'Playfair Display', serif;
}

h3 {
  color: #1f1715;
  font-family: 'Playfair Display', serif;
}

h4 {
  color: #1f1715;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.banner {
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.logo {
  margin: auto;
  padding: auto;

}

.container {
  background-color: white;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 10px 100px 0px 100px;
}

/* search bar css */
.search {
  text-align: center;
  position: relative;
  display: block;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.search_bar {
  background-color: #ececec;
  border-radius: 50px;
  text-align: left;
  position: relative;
  display: block;
  margin: auto;
  padding: 10px;
  width: 400px;
  height: 15px;
}

/* nav bar css */
.nav {
  background-color: #DD7000;
  display: flex;
  padding: 10px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  top: 0;
  position: fixed;
  align-items: center;
  z-index: 1;
}

.menuItems {
  list-style: none;
  display: flex;
  color: #EFCEAD;
  text-transform: uppercase;
}

.nav_tabs {
  margin-left: 50px;
  margin-right: 20px;
  padding-top: 10px;
  text-decoration: none;
  color: #EFCEAD;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

.link {
  text-decoration: none;
  color: #EFCEAD;
}

.link:hover {
  color: #523129;
}

a {
  text-decoration: underline;
  color: #EFCEAD;
}

a:hover {
  text-decoration: none;
  color: #523129;

}

/* content warning alphabet navigation */
.content_nav {
  /* display: flex; */
  padding: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  font-style: 'Playfair Display', serif;
}

.content_link {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: #7892BD;
}

.content_ul {
  list-style: none;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #EFCEAD;
  align-items: center;
}

content_tabs {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  font-family: 'Playfair Display', serif;
}


/* footer css */
#footer {
  /* position: center; */
  font-size: 12px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 4px;
  bottom: 0;
  position: absolute;
  height: 30px;
  line-height: 30px;
  background-color: #DD7000;
  color: #EFCEAD;
  text-align: center;
}

/* card components */
.card {
    flex-wrap: wrap;
    display: inline-block;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 20px;
    margin-bottom: 50px;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: #000000;
}

.card_text {
  padding-left: 1.5rem;
  padding-right: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_bar {
  width: 150px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  /* background: linear-gradient(to right, #DD7000 20%, #D54F49 100%); */
  background-color: #7892BD;
  transition: width 0.2s ease;
}

.card_p {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
  line-height: 1.6;
  font-size: 13.5px;
  font-family: 'Lato', sans-serif;
}

.card_image {
  max-height: 400px;
  width: 250px;
  object-fit: cover;
  position: static;
  float: left;
  padding: 0 15px 0 0;
}

.tag_box {
  display: flex;
  flex-flow: row wrap;
  font-size: 18px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.tag {
  display: inline-block;
  background: #ececec;
  color: #415a86;
  letter-spacing: 1.5px;
  font-weight: medium;
  border-radius: 3px;
  padding: 2.5px 15px;
  margin: 0 5px 5px 0;
  text-transform: uppercase;
  /* cursor: default;
  user-select: none; */
  /* transition: background-color 0.3s; */
  font-family: 'Playfair Display', serif;
}

.columns {
  float: left;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  column-count: 4;
  column-gap: 40px;
  column-rule-width: 1px;
  font-size: 13.5px;
  height: 100%;
  padding: 20px 50px 50px 50px;
  font-family: 'Lato', sans-serif;
}

/* form css --- will change */

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #004AAD;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #004AAD;
	padding: 3%;
	border: 1px solid #004AAD;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #004AAD;
	border-bottom: 2px solid #004AAD;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: #004AAD;
}